// 基础公共样式

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}