// 基础公共样式

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}